.light-container {
	width: 96%;
	height: 3rem;
	background-color: #ffffff;
	margin: .5rem 0 0;
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: height 0.3s ease-out;
}

.light-container__checked {
	height: 8rem;
}

.light-container__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	margin: 0;
	padding: 0;
	box-shadow: 1px 1px 10px 4px rgba(4, 5, 53, 0.5);
}

.light-container__action {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 5rem;
	background-color: #3f145c;
	border-radius: .5rem;
	margin: 0 .1rem .1rem .1rem;
	transition: display 0.3s ease-out;
	box-shadow: 1px 1px 10px 4px rgba(4, 5, 53, 0.5);
}

.light-container__action-invisible {
	display: none;
}

.light-container__name {
	font-size: 1.5rem;
	color: #3f145c;
	margin-left: .5rem;
	margin-top: -0.1rem;
}
