.side-drawer {
	height: 100%;
	background-color: #ffffff;
	box-shadow: 1px 0px 5px rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	max-width: 400px;
	z-index: 200;
	transform: translateX(-105%);
	transition: transform 0.3s ease-out;
}

.side-drawer.open {
	transform: translateX(0);
}

.side-drawer ul {
	height: 100%;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 4rem;
}

.side-drawer li {
	width: 70%;
	margin: 0.5rem 0;
	color: #3f145c;
	text-decoration: none;
	font-size: 1.2rem;
	cursor: pointer;
	padding: .5rem;
	border: 2px solid #3f145c;
	border-radius: 1rem;
	box-shadow: 1px 1px 10px 3px rgba(4, 5, 53, 0.5);
}

.side-drawer li:hover,
.side-drawer li:active {
	color: orange;
}

@media (min-width: 769px) {
	.side-drawer {
		display: none;
	}
}
