.monoslider__container {
	width: 90%;
}

.MuiSlider-rail {
	color: rgb(255, 255, 255);
}

.MuiSlider-track {
	color: rgb(255, 255, 255);
}

.MuiSlider-thumb {
	color: rgb(255, 255, 255);
}

/* .slider {
	transform: scaleX(1.5) scaleY(1.5);
} */
